<div class="text-center">
  <% if @result.valid? %>
    <%= image_tag @result.data['message'], class: "img-fluid rounded" %>
    <p class="mt-2">Breed: <%= @dog_breed.name.capitalize %></p>
  <% else %>
    <div class="alert alert-danger">
      <%= @result.data['message'] %>
    </div>
  <% end %>
</div>
