<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <%= turbo_frame_tag 'breed-form' do %>
        <%= render 'form' %>
      <% end %>
    </div>
    <div class="col-md-6" id="dog-image-container">
      <!-- Dog breed image will be displayed here -->
    </div>
  </div>
</div>
