<% if @result.valid? %>
  <p class="mb-2">
    <strong>Breed:</strong>
    <%= @dog.breed.capitalize %>
  </p>
  <%= image_tag @result.data['message'], class: "rounded-lg md:w-96 object-cover", alt: @dog.breed %>
<% else %>
  <p><%= @result.data['message'] %></p>
<% end %>
